*{
    box-sizing: border-box;
}
header {
    background: black;
    height: 60px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.esquerda {
    float: left;
}

.direita {
    float: right;
}

aside {
    background: pink;
    padding: 10px;
    margin-top: 20px;
    width: 21%;
    min-height: 550%;
    float: left;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 15px;
}

main {
    background:orangered;
    float: right;
    width: 75%;
    border-radius: 5px;
    margin-top: 20px;
    min-height: 550px;
    margin-bottom: 10px;
    padding: 7px;
}

section {
    border: 2px solid green;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 4px;
    border-radius: 4px;
}

footer {
    clear: both;
    background: gray;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    height: 35%;
}

body {
    font-family: "Times new Roman", Times, serif;
    margin: 0 auto;
    width: 75%;
}

header,
nav,
main {
    margin-bottom: 10px;
}

img {
    max-height: 100%;
    max-width: 100%;
}